/* .carousel-inner h3{
    background-color: red;
}
.image-slider{
    height: 35rem;
    width: 100%;
    overflow: hidden;
}
.carousel{
    height: 100% !important;
    width: 100% !important;
}
.carousel-item{
    height: 100%;
    width: 100%;
}
.carousel-item img{
    width: 100%;
    object-fit: cover;
} */
 .obj{
    background-size: contain;
    background-repeat: no-repeat;
 }