*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
}
#root{
  display: flex;
  justify-content: center;
}